html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #edeef2;
	height:100vh;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
	box-sizing: border-box;
	font-family: "AvenirNext",Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

/**/

main div div p {
	color: #505050;
	margin-right: 10px;
	font-size: 12px;
}
main div div button #sign-text{
	color: white;
	margin-right: 0px;
	font-size: 14px;
}
main div div a{
	color:#0077c5;
	font-size: 12px;
	text-decoration-line: none;
	margin-right: 10px;	
}
a{
	text-decoration-line: none;
	color:#0077c5;
}

main #sign-in-div{
	
	display:block;
	height: 60px;
	margin-bottom: 20px;
	
	
}

main div #sign-in {

	float:right;
	text-align: center;
	height: 60px;
	display: flex;
	align-items: center;
	margin-right: 30px;
	
}

.sign-buttons {
	display:flex;
	flex-direction: row;
	align-items: center;
	background: #0077C5;
	border-radius: 4px;
	border: 1px solid #4c4c4c;
	padding: 0 20px;
	width:105px;
	height:34px;
	color: white;
	text-align: center;
	
}
span {
	background-size: contain;
	background-color: #0077c5;
	width: fit-content;
	margin-right:6px ;
	
}
.lock{
	height: 1.1em;
    width: .9em;
}

#logos img {
	
	height: 1.5em;
	
}
#logos div {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: fit-content;
	align-self: center;
	margin-top: 20px;
}
#logos {
	display: flex;
	flex-direction: column;
	justify-items: center;
}
#logos #main-logo {
	display: block;
	align-self: center;
	height: 2.5em;
}
#logos p {
	font-size: 18px;
	opacity: 1;
	color: #858585;
	margin-right: 10px;
	margin-left: 5px;
	font-weight: 100;
}
fieldset{

	margin-top: 20px;
	border: 1px solid #c7c7c7;
	background-color: white;
	width:380px;
	height:683px;
	padding: 30px; 
	overflow: visible;
}
form{
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: visible;
	height:683px;
}
#form-div h3{

	color: #4c4c4c;
	font-size: 24px;
	text-align: center;
	margin-bottom: 23px;
	
}
#form-div p{

	color: #4c4c4c;
	font-size: 14px;
	text-align: center;
	
}
#form-div a{

	font-size: 13px;
	text-align: center;
	display:block;
	margin-bottom: 20px;
	
	
}
#form-div label{

	font-size: 14px;
	text-align: center;
	display:block;
	margin-bottom: 35px;
	text-align: left;
	color:#404040;
}
#form-div #phone{

	font-size: 14px;
	text-align: center;
	display:block;
	margin-bottom: 42px;
	text-align: left;
	color:#404040;
	
}
#form-div label input{

	margin-top: 13px;
	width:100%;
	border-radius: 3px;
	border: 1px solid #c7c7c7;
	height:34px;
}
#form-div label p{

	display: inline-block;
	font-size:10px;
}
#sign-up-button {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 44px;
	margin-bottom: 43px;
}
#sign-up-button span {
	align-self: center;

}
#sign-up-button p {
	align-self: center;
	color: white;
	font-size: 15.75px;
}

#form-div #terms{
	color:#757575;
	font-size: 12px;
	line-height: 18px;
	font-style: italic;
	margin-bottom: 35px;
}

#form-div #terms a{
	font-size: 11px;
	margin: 0px;
	display: inline;
	line-height: 18px;
	font-style: italic;
}

form fieldset #form-footer-div{

	
	width:380px;
	height: 52px;
	overflow: visible;
	background: #eceef1;
	margin: 0px -30px -30px -30px;

}
#form-footer-div {
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: center;
}
#form-footer-div p{
	
	width:380px;
	font-size: 10px;
	color: #8D9096;
	
}
footer{

	margin-top: 25px;
	display: flex;
	flex-direction: column;
	align-items: center;

}
footer div a{

	font-family: "AvenirNext",Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #505050;
	font-size: 12px;

}
footer p{
	line-height: 20px;
	font-family: "AvenirNext",Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #505050;
	font-size: 12px;
	text-align: center;

}