html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	background-color: #edeef2;
	height:100vh;
	line-height:1;	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
	box-sizing: border-box;
	font-family: "AvenirNext",Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

/*Sign In section*/

main div div p{
	color: #505050;
	font-size: 12px;
	margin-right: 10px;
}
main div div button .sign-text{
	color: white;
	font-size: 14px;
	margin-right: 0;
	height: fit-content;
	width: fit-content;
}

main div div a{
	color:#0077c5;
	font-size: 12px;
	margin-right: 10px;	
	text-decoration-line: none;
}
a{
	color:#0077c5;
	text-decoration-line: none;
}

main .sign-in-div{
	display:block;
	height: 60px;
	margin-bottom: 20px;
}

main div .sign-in {
	align-items: center;
	display: flex;
	float:right;
	height: 60px;
	margin-right: 30px;
	text-align: center;
}

.sign-buttons{
	
	background: #0077C5;
	border: 1px solid #4c4c4c;
	border-radius: 4px;
	color: white;
	display:flex;
	flex-direction: row;
	height:34px;
	padding: 0 20px;
	width:105px;
}
span{
	align-self: center;
	background-color: #0077c5;
	background-size: contain;
	height:15px;
	margin-right:6px ;
	width: fit-content;
}
.lock{
	height: 1.1em;
    width: .9em;
}

/*Logo section*/

.logos img{
	height: 1.5em;
}
.logos div{
	align-items: center;
	align-self: center;
	display: flex;
	flex-direction: row;
	margin-top: 20px;
	width: fit-content;
}
.logos {
	display: flex;
	flex-direction: column;
}
.logos .main-logo{
	align-self: center;
	display: block;
	height: 2.5em;
}
.logos p {
	color: #858585;
	font-size: 18px;
	font-weight: 100;
	margin-left: 5px;
	margin-right: 10px;
	opacity: 1;
}
/*Form section*/

form{
	align-items: center;
	display: flex;
	flex-direction: column;
	height:683px;
	overflow: visible;
}
fieldset{
	background-color: white;
	border: 1px solid #c7c7c7;
	height:683px;
	margin-top: 20px;
	overflow: visible;
	padding: 30px; 
	width:380px;
}
.form-div .title{
	color: #4c4c4c;
	font-size: 24px;
	margin-bottom: 23px;
	text-align: center;
}
.form-div p{
	color: #4c4c4c;
	font-size: 14px;
	text-align: center;
}
.form-div a{
	display:block;
	font-size: 13px;
	margin-bottom: 20px;
	text-align: center;
}
.form-div label{
	color:#404040;
	display:block;
	font-size: 14px;
	margin-bottom: 35px;
	text-align: center;
	text-align: left;
}
.form-div .phone{
	color:#404040; 
	display:block;
	font-size: 14px;
	margin-bottom: 42px;
	text-align: center;
	text-align: left;
}
.form-div label input{
	border: 1px solid #c7c7c7;
	border-radius: 3px;
	height:34px;
	margin-top: 13px;	
	width:100%;
}
.form-div label span{
	background-color: transparent;
	display: inline-block;
	font-size:10px;
}
.sign-up-button {
 	align-items: center;
	display: flex;
	flex-direction: row;
	height: 44px;
	justify-content: center;
	margin-bottom: 43px;
	text-align: center;
	width: 100%;
}
.sign-up-button span {
	align-self: center;
	font-size: 15.75px;
}


.form-div .terms{
	color:#757575;
	font-size: 12px;
	font-style: italic;
	line-height: 18px;
	margin-bottom: 35px;
}

.form-div .terms a{
	display: inline;
	font-size: 11px;
	font-style: italic;
	line-height: 18px;
}

form fieldset .form-footer-div{
	background: #eceef1;
	height: 52px;
	margin: 0 -30px -30px -30px;
	overflow: visible;
	width:380px;
}
.form-footer-div {
	align-items: center;
	display: flex;
	flex-direction: row;
	text-align: center;
}
.form-footer-div p{
	color: #8D9096;
	font-size: 10px;
	width:380px;
}

/*Footer section*/

footer{
 	align-items: center;
	display: flex;
	flex-direction: column;
	margin-top: 25px;
}
footer div a{
	color: #505050;
	display: inline-block;
	font-family: "AvenirNext",Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 12px;
	margin: 0 3px;
}
footer p{
	color: #505050;
	font-family: "AvenirNext",Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
}